<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>곰곰이와 합께하는 프로그래밍</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#" onclick="alert('준비중: 소곰이 공부를 위한 프로그래밍 연습 사이트 입니다');">About</a></li>
            <li role="presentation"><a href="mailto:bluedisk@gmail.com">E-Mail</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <h1>프로그래밍을 해봅시다!</h1>
        <p class="lead">프로그래밍 공부를 위한 여러 문제가 모여 있습니다. 각 문제는 1개의 레벨이며 레벨은 점차 늘려 나갈 예정입니다!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>1단계: 점찍기</h4>
          <p>2차원 테이블 상에 점을 그리는 연습을 합니다. 여기까진 익숙해지기 단계에요.</p>

          <h4>2단계: 도형 만들기</h4>
          <p>점을 모아서 도형을 만듭니다. 반복문과 변수의 사용법을 배워봅니다.</p>

          <h4>3단계: 점 움직이기</h4>
          <p>여기서 부터가 진짜 프로그래밍의 재미입니다. 점이 움직입니다!</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>

